body {
    font-size: .875rem;
  }

  * {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  .form-control:focus {
    border-color: #67a4ff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0);
  }

  .search-results-list {
    position: fixed;
    z-index: 2;
    margin-top: 5px;
    -webkit-box-shadow: 6px 6px 32px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 6px 6px 32px 0px rgba(0,0,0,0.1);
    box-shadow: 6px 6px 32px 0px rgba(0,0,0,0.1);
  }

  .search-results-item {
    border: 1px solid #ddd;
    background-color: #fff;
    color: black;
    margin-top: -1px;
    padding: 10px;
    text-decoration: none;
  }

  .search-results-item:hover {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    cursor: pointer;
  }

  .search-results-item a {
    color: black;
    text-decoration: none;
  }

  .list-group-item:hover {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
  }

  .lgi-icon-close {
    opacity: 0;
  }

  .list-group-item:hover .lgi-icon-close {
    opacity: 0.5;
  }


  /* Starter Template Kram */

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  /*
   * Sidebar
   */

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
   * Content
   */

  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
