[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"

[packages]
django = "==2.1.*"
gitpython = "==2.1.*"
simple-crypt = "==4.1.*"
ruamel-yaml = "==0.15.*"

[requires]
python_version = "3.7"
