[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
channels = "*"
pyyaml = "*"
oyaml = "*"
psycopg2-binary = "*"
gitpython = "*"
requests = "*"
simple-crypt = "*"

[requires]
python_version = "3.7"
