<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX YAMLr">
    <meta name="author" content="bhaeringer">

    {% load static %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>SRX YAMLr</title>

    <link rel="stylesheet" type="text/css" href="{% static 'srxapp/load.css' %}">
  </head>

  <body>

    <div id="loadingtext">
        Pulling Git repository...
    </div>

    <script src="{% static 'pace.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>

    <script src="{% static 'srxapp/load.js' %}"></script>

  </body>
</html>