<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX YAMLr">
    <meta name="author" content="bhaeringer">

    {% load static %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>SRX YAMLr</title>

    <!-- Bootstrap core CSS + other libraries -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-all.min.css' %}">

    <!-- Google Font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'srxapp/main.css' %}">
  </head>

  <body>

    <!-- Modals -->
    <div id="modals">
      {% include "srxapp/modals.html" %}
    </div>

    <!-- Templates -->
    <!-- Template 0 -->
    <template>
      <div class="alert alert-info" role="alert" id="field-empty">
        Please fill all values!
      </div>
    </template>
    <!-- Template 1 -->
    <template>
      <div class="alert alert-warning" role="alert" id="field-empty">
        Password confirmation does not match!
      </div>
    </template>

    <!-- Loading Spinner -->
    <div class="spinner-container">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
        </div>
      </div>
    </div>

    <!-- Content -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark p-0 shadow">
      <div class="navbar-brand col-sm-3">SRX YAMLr</div>
      <ul class="navbar-nav ml-auto px-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right mt-2 shadow-lg" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Logged in as <b>{{ username }}</b></h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#settings-modal"><i class="fas fa-wrench mr-2"></i>Settings</a>
            <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt mr-2"></i>Log out</a>
          </div>
        </li>
      </ul>
    </nav>

    <main role="main" class="container-fluid main-container">
      <div class="row main-row full-height">
        <div class="col-sm pr-0">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 pl-3 border-bottom">
            <h3 class="h3">SRX Firewall Policy</h3>
            <div class="btn-toolbar mb-2 mb-md-0 pr-2">
              <div class="btn-group mr-2">
                <div data-toggle="tooltip" data-placement="bottom" title="Edit policy name">
                  <button class="btn btn-primary" id="rename-policy" data-toggle="modal" data-target="#rename-policy-modal" disabled><i class="fas fa-edit"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Add another policy">
                  <button class="btn btn-primary" id="add-policy" disabled><i class="fas fa-plus"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Create new object">
                  <button class="btn btn-primary ml-1" id="create-object" data-toggle="modal" data-target="#create-object-modal"><i class="fas fa-plus-square"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Clear config & reload">
                  <button class="btn btn-primary" id="clear-config"><i class="fas fa-times"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Write to file">
                  <button class="btn btn-primary ml-1" id="write-config"><i class="fas fa-check"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Commit">
                  <button class="btn btn-primary" id="commit-config" disabled><i class="fas fa-angle-double-right"></i></button>
                </div>
              </div>

            </div>
          </div>

          <div class="row search-row full-height">
            <div class="col mt-3">

              <div id="search-forms">
                <div class="d-flex pt-3 pb-4">

                  <div class="col-sm">

                    <h4>From...</h4>

                    <input autofocus class="form-control searchform" type="text" id="search-from" onkeyup="policyObjectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list shadow" id="search-from-ul"></ul>

                  </div>


                  <div class="col-sm">

                    <h4>To...</h4>

                    <input class="form-control searchform" type="text" id="search-to" onkeyup="policyObjectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list shadow" id="search-to-ul"></ul>

                  </div>


                  <div class="col-sm">

                    <h4>Allow...</h4>

                    <input class="form-control searchform" type="text" id="search-app" onkeyup="policyObjectSearch(this)" placeholder="Search application or protocol port" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list shadow" id="search-app-ul"></ul>

                  </div>
                </div>

              </div>
              <div class="d-flex pt-3 pb-5 mb-4">


                <div class="col-sm">

                  <div class="card hide-border text-black-50 mb-3 d-none" id="added-zone-from">
                    <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-from">
                    </div>
                  </div>

                  <div class="card hide-border panel-default d-none" id="added-obj-from">
                    <ul class="list-group list-group-flush" id="added-list-from">
                    </ul>
                  </div>

                </div>


                <div class="col-sm">

                  <div class="card hide-border text-black-50 mb-3 d-none" id="added-zone-to">
                    <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-to">
                    </div>
                  </div>

                  <div class="card hide-border panel-default d-none" id="added-obj-to">
                    <ul class="list-group list-group-flush" id="added-list-to">
                    </ul>
                  </div>

                </div>


                <div class="col-sm">

                  <div class="card hide-border panel-default d-none" id="added-obj-app">
                    <ul class="list-group list-group-flush" id="added-list-app">
                    </ul>
                  </div>

                </div>

              </div>

            </div>
            <div class="col-3 pt-4 bg-light">
              <div class="row">
                <div class="col" >
                  <div class="row ml-3">
                    <nav>
                      <div class="nav" id="mini-nav" role="tablist">
                        <a class="nav-item nav-link active" id="yamlcard-tab" data-toggle="tab" href="#yamlcard" role="tab" aria-controls="yamlcard" aria-selected="true"><h6>YAML</h6></a>
                        <a class="nav-item nav-link" id="diffcard-tab" data-toggle="tab" href="#diffcard" role="tab" aria-controls="diffcard" aria-selected="false"><h6>Git Diff</h6></a>
                      </div>
                    </nav>
                  </div>
                  <div class="row ml-3">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active d-none" id="yamlcard" role="tabpanel" aria-labelledby="yamlcard-tab">
                        <div class="card hide-border">
                          <pre class="card-body mr-3 scrollable" id="yamlcontainer">
                          </pre>
                        </div>
                      </div>
                      <div class="tab-pane fade d-none" id="diffcard" role="tabpanel" aria-labelledby="diffcard-tab">
                        <div class="card hide-border">
                          <pre class="card-body mr-3 scrollable" id="diffcontainer">
                          </pre>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>
    </main>

    <!-- Bootstrap core JavaScript + dependencies
    ================================================== -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>

    <!-- Other plug ins -->
    <script src="{% static 'pace.min.js' %}"></script>
    <script src="{% static 'sweetalert.min.js' %}"></script>

    <!-- SRX YAMLr JavaScript -->
    <script>
    var static = "{% static . %}"
    document.write("<script src='" + static + "srxapp/main.js?v="
      + Date.now() + "'><\/script>")
    </script>


  </body>
</html>