<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="bhaeringer" content="">

    <title>Config Generator</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/generator/style.css">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow">
      <a class="navbar-brand col-sm-3" href="#">Config Generator</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-sm">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Firewall Policies</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-primary">Save</button>
              </div>

            </div>
          </div>

          <div class="d-flex justify-content-between pt-3 pb-4">


            <div class="col-sm">

              <h4>From...</h4>

              <input class="form-control" type="text" id="search-from" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

              <ul class="list-inline d-none search-results-list" id="search-from-ul">
              {% for adr in addresses %}
                <li class="search-results-item" id="from_{{ adr.id }}"><a href="#">{{ adr }}</a></li>
              {% endfor %}
              </ul>

            </div>


            <div class="col-sm">

              <h4>To...</h4>

              <input class="form-control" type="text" id="search-to" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

              <ul class="list-inline d-none search-results-list" id="search-to-ul">
              {% for adr in addresses %}
                <li class="search-results-item" id="to_{{ adr.id }}"><a href="#">{{ adr }}</a></li>
              {% endfor %}
              </ul>

            </div>


            <div class="col-sm">

              <h4>Allow...</h4>

              <input class="form-control" type="text" id="search-app" onkeyup="objectSearch(this)" placeholder="Search application or protocol port" aria-label="Search" autocomplete="off">

              <ul class="list-inline d-none search-results-list" id="search-app-ul">
              {% for app in applications %}
                <li class="search-results-item" id="app_{{ app.id }}"><a href="#">{{ app }}</a></li>
              {% endfor %}
              </ul>

            </div>


          </div>
          <div class="d-flex justify-content-between pt-3 pb-5 mb-4 border-bottom">


              <div class="col-sm">

                <div class="card panel-default d-none" id="added-obj-from">
                  <div class="card-header text-black-50" id="added-zone-from">
                  </div>
                  <ul class="list-group list-group-flush" id="added-list-from">
                  </ul>
                </div>

              </div>


              <div class="col-sm">

                <div class="card panel-default d-none" id="added-obj-to">
                  <div class="card-header text-black-50" id="added-zone-to">
                  </div>
                  <ul class="list-group list-group-flush" id="added-list-to">
                  </ul>
                </div>

              </div>


              <div class="col-sm">

                <div class="card panel-default d-none" id="added-obj-app">
                  <ul class="list-group list-group-flush" id="added-list-app">
                  </ul>
                </div>

              </div>

            </div>


        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript + dependencies
    ================================================== -->
    <script src="/static/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <!-- ConfigGen JavaScript -->
    <script src="/static/generator/main.js"></script>

    <!-- Icons -->
    <script src="/static/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

</body>
</html>