<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX Firewall Config Generator">
    <meta name="author" content="bhaeringer">
    <link rel="shortcut icon" href="/static/favicon-1.ico?v=1" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <title>Config Generator</title>

    <!-- Bootstrap core CSS, Themify icons -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/themify-icons/themify-icons.min.css"></link>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/generator/style.css">
  </head>

  <body>

    <!-- Create-Object Modal -->
    <div class="modal fade" id="create-object-modal" tabindex="-1" role="dialog" aria-labelledby="create-object-modal-label" aria-hidden="true">
      <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create-object-modal-label">Create new firewall object</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="create-object-modal-close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="dropdown mb-4" id="create-object-dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Object type
              </button>
              <div class="dropdown-menu shadow" aria-labelledby="create-object-dropdown">
                <a class="dropdown-item" href="#">Address</a>
                <a class="dropdown-item" href="#">Address Set</a>
                <a class="dropdown-item" href="#">Application</a>
                <a class="dropdown-item" href="#">Application Set</a>
                <a class="dropdown-item" href="#">Zone</a>
              </div>
            </div>
            <div id="form-container">
              <form class="d-none border-top" id="address-form">
                <div class="form-group mt-4">
                  <h5>New Address</h5><br>
                  <select class="custom-select" id="address-form-control-zone">
                    <option selected>Choose Zone...</option>
                    {% for zone in zones %}
                    <option value="{{ zone.zone_name }}">{{ zone.zone_name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="address-form-control-name">Object Name</label>
                  <input type="text" class="form-control" id="address-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="address-form-control-name">IP Address/Prefix</label>
                  <input type="text" class="form-control" id="address-form-control-ip" autocomplete="off">
                </div>
              </form>
              <form class="d-none border-top" id="adrset-form">
                <div class="form-group mt-4">
                  <h5>New Address Set</h5><br>
                  <select class="custom-select" id="adrset-form-control-zone">
                    <option selected>Choose Zone...</option>
                    {% for zone in zones %}
                    <option value="{{ zone.zone_name }}">{{ zone.zone_name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="adrset-form-control-name">Object Name</label>
                  <input type="text" class="form-control" id="adrset-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="adrset-form-control-objects">Child Objects</label>
                  <select multiple class="form-control" id="adrset-form-control-objects">
                    {% for adr in addresses %}
                    <option class="small" value="adr.address_name">{{ adr.address_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
              <form class="d-none border-top" id="application-form">
                <div class="form-group mt-4">
                  <h5>New Application</h5><br>
                  <label for="application-form-control-name">Application Name</label>
                  <input type="text" class="form-control" id="application-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="application-form-control-port">Port Number</label>
                  <input type="number" class="form-control" id="application-form-control-port" autocomplete="off">
                </div>
                <div class="form-group">
                  <select class="custom-select" id="application-form-control-protocol">
                    <option selected>Protocol</option>
                    <option value="TCP">TCP</option>
                    <option value="UDP">UDP</option>
                  </select>
                </div>
              </form>
              <form class="d-none border-top" id="appset-form">
                <div class="form-group mt-4">
                  <h5>New Application Set</h5><br>
                  <label for="appset-form-control-name">Object Name</label>
                  <input type="text" class="form-control" id="appset-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="appset-form-control-objects">Child Objects</label>
                  <select multiple class="form-control" id="appset-form-control-objects">
                    {% for app in applications %}
                    <option class="small" value="app.application_name">{{ app.application_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Create-Object Modal -->

    <div class="loading">Loading&#8230;</div>

    <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow">
      <a class="navbar-brand col-sm-3" href="#">Config Generator</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-sm">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 pl-3 border-bottom">
            <h1 class="h2">Firewall Policies</h1>
            <div class="btn-toolbar mb-2 mb-md-0 pr-2">
              <div class="btn-group mr-2">
                <div data-toggle="tooltip" data-placement="bottom" title="Create new object">
                  <button class="btn btn-primary" id="create-object" data-toggle="modal" data-target="#create-object-modal"><i class="ti-plus"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Show YAML">
                  <button class="btn btn-info ml-1" id="show-yaml"><i class="ti-align-left"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Deploy config">
                  <button class="btn btn-success disabled" id="deploy-config"><i class="ti-control-forward"></i></button>
                </div>
              </div>

            </div>
          </div>

          <div class="d-flex justify-content-between pt-3 pb-4">


            <div class="col-sm">

              <h4>From...</h4>

              <input autofocus class="form-control" type="text" id="search-from" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

              <ul class="list-inline d-none search-results-list" id="search-from-ul">
              {% for adr in addresses %}
                <li class="search-results-item" id="from_{{ adr.uuid }}">
                  <div class="row">
                    <div class="col-auto mr-auto lgi-name"><a href="#">{{ adr.address_name }}</a></div>
                    <div class="w-100"></div>
                    <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ adr.address_ip }}</a></small></div>
                  </div>
                </li>
              {% endfor %}
              {% for adrset in addrsets %}
                <li class="search-results-item" id="from_{{ adrset.uuid }}">
                  <div class="row">
                    <div class="col-auto mr-auto lgi-name"><a href="#">{{ adrset.addrset_name }}</a></div>
                    <div class="w-100"></div>
                    <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                      {% for a in adrset.address.all %}
                        {{ a }}<br>
                      {% endfor %}
                      </a></small>
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>

            </div>


            <div class="col-sm">

              <h4>To...</h4>

              <input class="form-control" type="text" id="search-to" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

              <ul class="list-inline d-none search-results-list" id="search-to-ul">
              {% for adr in addresses %}
                <li class="search-results-item" id="to_{{ adr.uuid }}">
                  <div class="row">
                    <div class="col-auto mr-auto lgi-name"><a href="#">{{ adr.address_name }}</a></div>
                    <div class="w-100"></div>
                    <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ adr.address_ip }}</a></small></div>
                  </div>
                </li>
              {% endfor %}
              {% for adrset in addrsets %}
                <li class="search-results-item" id="to_{{ adrset.uuid }}">
                  <div class="row">
                    <div class="col-auto mr-auto lgi-name"><a href="#">{{ adrset.addrset_name }}</a></div>
                    <div class="w-100"></div>
                    <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                      {% for a in adrset.address.all %}
                        {{ a }}<br>
                      {% endfor %}
                      </a></small>
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>

            </div>


            <div class="col-sm">

              <h4>Allow...</h4>

              <input class="form-control" type="text" id="search-app" onkeyup="objectSearch(this)" placeholder="Search application or protocol port" aria-label="Search" autocomplete="off">

              <ul class="list-inline d-none search-results-list" id="search-app-ul">
              {% for app in applications %}
                <li class="search-results-item" id="app_{{ app.uuid }}">
                  <div class="row">
                    <div class="col-auto mr-auto lgi-name"><a href="#">{{ app.application_name }}</a></div>
                    <div class="w-100"></div>
                    <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ app.protocol }} {{ app.application_port }}</a></small></div>
                  </div>
                </li>
              {% endfor %}
              {% for appset in appsets %}
                <li class="search-results-item" id="app_{{ appset.uuid }}">
                  <div class="row">
                    <div class="col-auto mr-auto lgi-name"><a href="#">{{ appset.applicationset_name }}</a></div>
                    <div class="w-100"></div>
                    <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                      {% for a in appset.applications.all %}
                        {{ a }}<br>
                      {% endfor %}
                      </a></small>
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>

            </div>


          </div>
          <div class="d-flex justify-content-between pt-3 pb-5 mb-4 border-bottom">


            <div class="col-sm">

              <div class="card text-black-50 mb-2 d-none" id="added-zone-from">
                <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-from">
                </div>
              </div>

              <div class="card panel-default d-none" id="added-obj-from">
                <ul class="list-group list-group-flush" id="added-list-from">
                </ul>
              </div>

            </div>


            <div class="col-sm">

              <div class="card text-black-50 mb-2 d-none" id="added-zone-to">
                <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-to">
                </div>
              </div>

              <div class="card panel-default d-none" id="added-obj-to">
                <ul class="list-group list-group-flush" id="added-list-to">
                </ul>
              </div>

            </div>


            <div class="col-sm">

              <div class="card panel-default d-none" id="added-obj-app">
                <ul class="list-group list-group-flush" id="added-list-app">
                </ul>
              </div>

            </div>

          </div>
          <div class="d-flex justify-content-between pt-3 pb-5 mb-4 pl-3" id="saved-config">
          </div>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript + dependencies
    ================================================== -->
    <script src="/static/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <!-- Other plug ins -->
    <script src="/static/sweetalert.min.js"></script>

    <!-- ConfigGen JavaScript -->
    <script src="/static/generator/main.js"></script>

</body>
</html>