<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX Firewall Config Generator">
    <meta name="author" content="bhaeringer">
    <link rel="shortcut icon" href="/static/favicon.ico?v=1" type="image/x-icon">

    <title>SRX Config Generator</title>

    <!-- Bootstrap core CSS, Themify icons -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome-all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/cgapp/style.css">
  </head>

  <body>

    <!-- Create-Object Modal -->
    <div class="modal fade" id="create-object-modal" tabindex="-1" role="dialog" aria-labelledby="create-object-modal-label" aria-hidden="true">
      <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create-object-modal-label">Create new firewall object</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="create-object-modal-close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="dropdown mb-4" id="create-object-dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Object type
              </button>
              <div class="dropdown-menu shadow" aria-labelledby="create-object-dropdown">
                <a class="dropdown-item" href="#">Address</a>
                <a class="dropdown-item" href="#">Address Set</a>
                <a class="dropdown-item" href="#">Application</a>
                <a class="dropdown-item" href="#">Application Set</a>
                <a class="dropdown-item" href="#">Zone</a>
              </div>
            </div>
            <div id="form-container">
              <form class="d-none border-top" id="address-form">
                <div class="form-group mt-4">
                  <h5>New Address</h5><br>
                  <div id="address-form-alert"></div>
                  <select class="custom-select" id="address-form-control-zone" autocomplete="off">
                    <option selected>Choose Zone...</option>
                    {% for zone in zones %}
                    <option value="{{ zone.name }}">{{ zone.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="address-form-control-name">Object Name</label>
                  <input type="text" class="form-control" id="address-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="address-form-control-name">IP Address/Prefix</label>
                  <input type="text" class="form-control" id="address-form-control-ip" autocomplete="off">
                </div>
              </form>
              <form class="d-none border-top" id="adrset-form">
                <div class="form-group mt-4">
                  <h5>New Address Set</h5><br>
                  <div id="addrset-form-alert"></div>
                  <select class="custom-select" id="adrset-form-control-zone" autocomplete="off">
                    <option selected>Choose Zone...</option>
                    {% for zone in zones %}
                    <option value="{{ zone.name }}">{{ zone.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="adrset-form-control-name">Object Name</label>
                  <input type="text" class="form-control" id="adrset-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="adrset-form-control-objects">Child Objects</label>
                  <select multiple class="form-control" id="adrset-form-control-objects" autocomplete="off">
                    {% for adr in addresses %}
                    <option class="small">{{ adr.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
              <form class="d-none border-top" id="application-form">
                <div class="form-group mt-4">
                  <h5>New Application</h5><br>
                  <div id="application-form-alert"></div>
                  <label for="application-form-control-name">Application Name</label>
                  <input type="text" class="form-control" id="application-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="application-form-control-port">Port Number</label>
                  <input type="number" class="form-control" id="application-form-control-port" autocomplete="off">
                </div>
                <div class="form-group">
                  <select class="custom-select" id="application-form-control-protocol" autocomplete="off">
                    <option selected>Protocol</option>
                    <option value="tcp">TCP</option>
                    <option value="udp">UDP</option>
                  </select>
                </div>
              </form>
              <form class="d-none border-top" id="appset-form">
                <div class="form-group mt-4">
                  <h5>New Application Set</h5><br>
                  <div id="appset-form-alert"></div>
                  <label for="appset-form-control-name">Object Name</label>
                  <input type="text" class="form-control" id="appset-form-control-name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="appset-form-control-objects">Child Objects</label>
                  <select multiple class="form-control" id="appset-form-control-objects">
                    {% for app in applications %}
                    <option class="small">{{ app.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="create-object-save">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Create-Object Modal -->

    <div id="overlay">
      <div id="overlaytext">Loading YAML...</div>
    </div>

    <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow">
      <a class="navbar-brand col-sm-3" href="#">SRX Config Generator</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="container-fluid">
      <div class="row full-height">
        <div class="col-sm pr-0">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 pl-3 border-bottom">
            <h1 class="h2">Firewall Policies</h1>
            <div class="btn-toolbar mb-2 mb-md-0 pr-2">
              <div class="btn-group mr-2">
                <div data-toggle="tooltip" data-placement="bottom" title="Create new object">
                  <button class="btn btn-primary" id="create-object" data-toggle="modal" data-target="#create-object-modal"><i class="fas fa-plus"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Clear config">
                  <button class="btn btn-primary ml-1" id="clear-config"><i class="fas fa-times"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Check config">
                  <button class="btn btn-primary" id="check-config"><i class="fas fa-check"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Deploy and commit config">
                  <button class="btn btn-primary" id="deploy-config"><i class="fas fa-angle-double-right"></i></button>
                </div>
              </div>

            </div>
          </div>

          <div class="row full-height">
            <div class="col mt-3">

              <div id="search-forms">
                <div class="d-flex pt-3 pb-4">

                  <div class="col-sm">

                    <h4>From...</h4>

                    <input autofocus class="form-control" type="text" id="search-from" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list" id="search-from-ul">
                    {% for adr in addresses %}
                      <li class="search-results-item" id="from_{{ adr.uuid }}_{{ adr.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adr.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ adr.ip }}</a></small></div>
                        </div>
                      </li>
                    {% endfor %}
                    {% for adrset in addrsets %}
                      <li class="search-results-item" id="from_{{ adrset.uuid }}_{{ adrset.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adrset.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                            {% for a in adrset.addresses.all %}
                              {{ a }}<br>
                            {% endfor %}
                            </a></small>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>

                  </div>


                  <div class="col-sm">

                    <h4>To...</h4>

                    <input class="form-control" type="text" id="search-to" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list" id="search-to-ul">
                    {% for adr in addresses %}
                      <li class="search-results-item" id="to_{{ adr.uuid }}_{{ adr.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adr.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ adr.ip }}</a></small></div>
                        </div>
                      </li>
                    {% endfor %}
                    {% for adrset in addrsets %}
                      <li class="search-results-item" id="to_{{ adrset.uuid }}_{{ adrset.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adrset.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                            {% for a in adrset.addresses.all %}
                              {{ a }}<br>
                            {% endfor %}
                            </a></small>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>

                  </div>


                  <div class="col-sm">

                    <h4>Allow...</h4>

                    <input class="form-control" type="text" id="search-app" onkeyup="objectSearch(this)" placeholder="Search application or protocol port" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list" id="search-app-ul">
                    {% for app in applications %}
                      <li class="search-results-item" id="app_{{ app.uuid }}_{{ app.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ app.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ app.protocol }} {{ app.port }}</a></small></div>
                        </div>
                      </li>
                    {% endfor %}
                    {% for appset in appsets %}
                      <li class="search-results-item" id="app_{{ appset.uuid }}_{{ appset.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ appset.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                            {% for a in appset.applications.all %}
                              {{ a }}<br>
                            {% endfor %}
                            </a></small>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>

                  </div>
                </div>

              </div>
              <div class="d-flex pt-3 pb-5 mb-4">


                <div class="col-sm">

                  <div class="card text-black-50 mb-2 d-none" id="added-zone-from">
                    <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-from">
                    </div>
                  </div>

                  <div class="card panel-default d-none" id="added-obj-from">
                    <ul class="list-group list-group-flush" id="added-list-from">
                    </ul>
                  </div>

                </div>


                <div class="col-sm">

                  <div class="card text-black-50 mb-2 d-none" id="added-zone-to">
                    <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-to">
                    </div>
                  </div>

                  <div class="card panel-default d-none" id="added-obj-to">
                    <ul class="list-group list-group-flush" id="added-list-to">
                    </ul>
                  </div>

                </div>


                <div class="col-sm">

                  <div class="card panel-default d-none" id="added-obj-app">
                    <ul class="list-group list-group-flush" id="added-list-app">
                    </ul>
                  </div>

                </div>

              </div>

            </div>
            <div class="col-3 pt-4 bg-light yamlcol">

              <div class="row ml-3">
                <h6>YAML</h6>
              </div>
              <div class="row ml-3 d-none" id="yamlcard">
                <div class="card mt-1">
                  <pre class="card-body mr-3" id="yamlcontainer">
                  </pre>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>
    </main>

    <!-- Bootstrap core JavaScript + dependencies
    ================================================== -->
    <script src="/static/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <!-- Other plug ins -->
    <script src="/static/sweetalert.min.js"></script>
    <script>
      window.paceOptions = {
          startOnPageLoad: false,
          restartOnRequestAfter: false,
      };
    </script>
    <script src="/static/pace.min.js"></script>

    <!-- ConfigGen JavaScript -->
    <script src="/static/cgapp/main.js"></script>

</body>
</html>