<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX Firewall Config Generator">
    <meta name="author" content="bhaeringer">
    <link rel="shortcut icon" href="/static/favicon.ico?v=1" type="image/x-icon">

    <title>SRX Config Generator</title>

    <link rel="stylesheet" type="text/css" href="/static/cgapp/style.css">
  </head>

  <body>

    <div id="loadingtext">
        Loading from YAML...
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/pace.min.js"></script>

    <script src="/static/cgapp/load.js"></script>

  </body>
</html>