<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX Firewall Config Generator">
    <meta name="author" content="bhaeringer">
    <link rel="shortcut icon" href="/static/favicon.ico?v=1" type="image/x-icon">

    <title>SRX Config Generator</title>

    <!-- Bootstrap core CSS + other libraries -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome-all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/cgapp/main.css">
  </head>

  <body>

    <!-- Modals -->
    <div id="modals">
      {% include "cgapp/modals.html" %}
    </div>

    <div class="spinner-container">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow">
      <a class="navbar-brand col-sm-3" href="#">SRX Config Generator</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="container-fluid main-container">
      <div class="row main-row full-height">
        <div class="col-sm pr-0">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 pl-3 border-bottom">
            <h1 class="h2">Firewall Policies</h1>
            <div class="btn-toolbar mb-2 mb-md-0 pr-2">
              <div class="btn-group mr-2">
                <div data-toggle="tooltip" data-placement="bottom" title="Create new object">
                  <button class="btn btn-primary" id="create-object" data-toggle="modal" data-target="#create-object-modal"><i class="fas fa-plus-square"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Add another policy">
                  <button class="btn btn-primary" id="add-policy"><i class="fas fa-plus"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Clear & Reload">
                  <button class="btn btn-primary ml-1" id="clear-config"><i class="fas fa-times"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Check config">
                  <button class="btn btn-primary" id="check-config" data-toggle="modal" data-target="#output-modal"><i class="fas fa-check"></i></button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Deploy and commit config">
                  <button class="btn btn-primary" id="deploy-config"><i class="fas fa-angle-double-right"></i></button>
                </div>
              </div>

            </div>
          </div>

          <div class="row search-row full-height">
            <div class="col mt-3">

              <div id="search-forms">
                <div class="d-flex pt-3 pb-4">

                  <div class="col-sm">

                    <h4>From...</h4>

                    <input autofocus class="form-control" type="text" id="search-from" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list" id="search-from-ul">
                    {% for adr in addresses %}
                      <li class="search-results-item" id="from_{{ adr.uuid }}_{{ adr.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adr.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ adr.ip }}</a></small></div>
                        </div>
                      </li>
                    {% endfor %}
                    {% for adrset in addrsets %}
                      <li class="search-results-item" id="from_{{ adrset.uuid }}_{{ adrset.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adrset.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                            {% for a in adrset.addresses.all %}
                              {{ a }}<br>
                            {% endfor %}
                            </a></small>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>

                  </div>


                  <div class="col-sm">

                    <h4>To...</h4>

                    <input class="form-control" type="text" id="search-to" onkeyup="objectSearch(this)" placeholder="Search IP address or object name" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list" id="search-to-ul">
                    {% for adr in addresses %}
                      <li class="search-results-item" id="to_{{ adr.uuid }}_{{ adr.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adr.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ adr.ip }}</a></small></div>
                        </div>
                      </li>
                    {% endfor %}
                    {% for adrset in addrsets %}
                      <li class="search-results-item" id="to_{{ adrset.uuid }}_{{ adrset.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ adrset.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                            {% for a in adrset.addresses.all %}
                              {{ a }}<br>
                            {% endfor %}
                            </a></small>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>

                  </div>


                  <div class="col-sm">

                    <h4>Allow...</h4>

                    <input class="form-control" type="text" id="search-app" onkeyup="objectSearch(this)" placeholder="Search application or protocol port" aria-label="Search" autocomplete="off">

                    <ul class="list-inline d-none search-results-list" id="search-app-ul">
                    {% for app in applications %}
                      <li class="search-results-item" id="app_{{ app.uuid }}_{{ app.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ app.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">{{ app.protocol }} {{ app.port }}</a></small></div>
                        </div>
                      </li>
                    {% endfor %}
                    {% for appset in appsets %}
                      <li class="search-results-item" id="app_{{ appset.uuid }}_{{ appset.id }}">
                        <div class="row">
                          <div class="col-auto mr-auto lgi-name"><a href="#">{{ appset.name }}</a></div>
                          <div class="w-100"></div>
                          <div class="col-auto mr-auto lgi-name"><small><a href="#" class="text-black-50">
                            {% for a in appset.applications.all %}
                              {{ a }}<br>
                            {% endfor %}
                            </a></small>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>

                  </div>
                </div>

              </div>
              <div class="d-flex pt-3 pb-5 mb-4">


                <div class="col-sm">

                  <div class="card text-black-50 mb-2 d-none" id="added-zone-from">
                    <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-from">
                    </div>
                  </div>

                  <div class="card panel-default d-none" id="added-obj-from">
                    <ul class="list-group list-group-flush" id="added-list-from">
                    </ul>
                  </div>

                </div>


                <div class="col-sm">

                  <div class="card text-black-50 mb-2 d-none" id="added-zone-to">
                    <div class="card-body bg-light pt-3 pb-3 font-weight-bold" id="added-zone-body-to">
                    </div>
                  </div>

                  <div class="card panel-default d-none" id="added-obj-to">
                    <ul class="list-group list-group-flush" id="added-list-to">
                    </ul>
                  </div>

                </div>


                <div class="col-sm">

                  <div class="card panel-default d-none" id="added-obj-app">
                    <ul class="list-group list-group-flush" id="added-list-app">
                    </ul>
                  </div>

                </div>

              </div>

            </div>
            <div class="col-3 pt-4 bg-light yamlcol">

              <div class="row ml-3">
                <h6>YAML</h6>
              </div>
              <div class="row ml-3 d-none" id="yamlcard">
                <div class="card mt-1">
                  <pre class="card-body mr-3" id="yamlcontainer">
                  </pre>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>
    </main>

    <!-- Bootstrap core JavaScript + dependencies
    ================================================== -->
    <script src="/static/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <!-- Other plug ins -->
    <script src="/static/sweetalert.min.js"></script>

    <!-- ConfigGen JavaScript -->
    <script src="/static/cgapp/main.js"></script>

  </body>
</html>