<!-- baseapp html head -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX YAMLr">
    <meta name="author" content="bhaeringer">

    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>SRX YAMLr</title>

    <!-- Bootstrap core CSS + other libraries -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-all.min.css' %}">

    <!-- Google Font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'srx-yamlr.css' %}">
  </head>
