<!doctype html>
<html lang="en">

  {% include "baseapp/head.html" %}

  <body>

    {% include "baseapp/modals.html" %}
    {% include "baseapp/templates.html" %}
    {% include "baseapp/spinner.html" %}
    {% include "baseapp/navbar.html" %}

    <!-- baseapp content -->
    <main role="main" class="container-fluid main-container">
      <div class="row main-row full-height">
        <div class="col-sm pr-0">
          <div class="mt-5 ml-5">
            <a href="/srx/policysearch/" class="btn btn-primary btn-lg appbtn mr-3" id="policysearch">
              <i class="fas fa-search mr-3"></i>SRX Policy Search
            </a>
            <a href="/srx/policybuilder/" class="btn btn-primary btn-lg appbtn" id="policybuild">
              <i class="fas fa-shapes mr-3"></i>SRX Policy Builder
            </a>
          </div>
        </div>
      </div>
    </main>

    {% include "baseapp/scripts-base.html" %}

  </body>
</html>