<!-- baseapp bootstrap modals -->
  <div id="modals">
    <!-- Create Object Modal -->

    <div class="modal fade" id="create-object-modal" tabindex="-1" role="dialog" aria-labelledby="create-object-modal-label" aria-hidden="true">
      <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
          <!-- load modalcnt-create.html dynamically -->
        </div>
      </div>
    </div>


    <!-- Edit Policy Name Modal -->

    <div class="modal fade" id="rename-policy-modal" tabindex="-1" role="dialog" aria-labelledby="rename-policy-modal-label" aria-hidden="true">
      <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rename-policy-modal-label">Edit Policy Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="rename-policy-modal-close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group" id="rename-policy-modal-form" autocomplete="off">
              <div class="form-group">
                <input type="text" class="form-control" id="input-policy-name" placeholder="New name">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="rename-policy-save">Save</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Settings Modal -->

    <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" aria-hidden="true">
      <div class="modal-dialog shadow" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settings-modal-label">Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="settings-modal-close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="settings-user-tab" data-toggle="tab" href="#settings-user" role="tab">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="settings-general-tab" data-toggle="tab" href="#settings-general" role="tab">General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="settings-about-tab" data-toggle="tab" href="#settings-about" role="tab">About</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="settings-user" role="tabpanel">
                <br>
                <div class="form-group" id="settings-modal-form">
                  <div class="row">
                    <div class="col-4">
                      <h6>Git Access Token</h6>
                    </div>
                    <div class="col-8">
                      {% if token_set %}
                      <i id="token-indicator" class="fas fa-circle mr-2 custom-green"></i><small id="token-set-check">Token has been set</small>
                      {% else %}
                      <i id="token-indicator" class="fas fa-circle mr-2 custom-red"></i><small id="token-set-check">Token not set</small>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="gogs-token" autocomplete="new-password">
                  </div>
                  <br>
                  <h6>Change Password</h6>
                  <div id="password-form-alert"></div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="New password" id="pw-new" autocomplete="new-password">
                    <input type="password" class="form-control mt-2" placeholder="Confirm password" id="pw-new-confirm" autocomplete="new-password">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="settings-general" role="tabpanel" aria-labelledby="settings-general-tab">
                <br>
                <h6>SRX Ansible host_vars file</h6>
                <div>
                  <!-- <div class="pb-2">Relative file path within the Ansible repository:</div> -->
                  <div id="host-var-file-path-value" class="container">
                    <div class="row">
                      <div class="col pl-0" id="host-var-file-path">{{ host_var_file_path }}</div>
                      <div class="col-1">
                        <div data-toggle="tooltip" data-placement="left" title="Edit">
                          <button class="btn p-0"><i class="fas fa-edit" id="host-var-file-path-edit"></i></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" placeholder="Relative file path within the Ansible repository" id="host-var-file-path-input">
                </div>
                <br>
              </div>
              <div class="tab-pane fade" id="settings-about" role="tabpanel" aria-labelledby="settings-about-tab">
                <br>
                <h6>Application Version</h6>
                <div>
                  {{ version }}
                </div>
                <br>
                <h6>Update Cache</h6>
                <div>
                  <a href="#" class="small" id="update-cache">Perform a manual cache clean + reload</a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="settings-save">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>