{% load static %}
    <!-- Bootstrap core JavaScript + dependencies
    ================================================== -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>

    <!-- Other plug ins -->
    <script src="{% static 'pace.min.js' %}"></script>
    <script src="{% static 'sweetalert.min.js' %}"></script>

    <!-- srx-yamlr baseapp js -->
    <script>
    var static = "{% static . %}"
    document.write("<script src='" + static + "baseapp/baseapp.js?v="
        + Date.now() + "'><\/script>")
    </script>
