html,body{height:100%;}

body {
    font-size: .875rem;
    -webkit-animation:fadein 1s; animation:fadein 1s
  }
  @-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
  @keyframes fadein { from {opacity:0} to {opacity:1} }

  .container-fluid {
    height: calc(100% - 71px);
  }

  .navbar-brand {
    font-family: 'Comfortaa', sans-serif;
  }

  .full-height{
    min-height:100%;
  }

  .search-row{
    margin-right:0px;
    margin-left:0px;
  }

  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    box-shadow: none;
    border-radius: 0;
  }

  input[type="text"]:focus,
  select.form-control:focus {
    box-shadow: none;
  }

  * {
    border-radius: 0 !important;
  }

  .spinner-border-sm,
  .swal-icon, .swal-icon--success__ring {
    border-radius: 50% !important;
  }
  .swal-icon--success::before {
    border-radius: 120px 0 0 120px !important;
  }
  .swal-icon--success::after {
    border-radius: 0 120px 120px 0 !important;
  }
  .swal-icon--success__line {
    border-radius: 2px !important;
  }

  .swal-button:focus {
    outline: none;
    box-shadow: none;
  }

  .hide-border {
    border-style: hidden;
  }

  .search-results-list {
    position: fixed;
    z-index: 2;
    margin-top: 5px;
  }

  .search-results-item {
    background-color: #fff;
    padding: 10px;
  }

  .search-results-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }

  .search-results-item a {
    color: black;
    text-decoration: none;
  }

  .list-group-item {
    border-style: hidden;
  }

  .lgi-icon-close {
    opacity: 0;
  }

  .list-group-item:hover {
    background-color: #f8f9fa;
  }

  .list-group-item:hover .lgi-icon-close {
    opacity: 0.5;
  }

  #output-log {
    font-size: 80%;
  }

  .dropdown-menu {
    border-style: hidden;
  }

  .swal-overlay--show-modal, .swal-modal {
    animation: none !important;
  }


  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .custom-green {
    color:rgb(107, 238, 118);
  }

  .custom-red {
    color:rgb(252, 84, 84);
  }

  .custom-diffgrey {
    color: #aeb7c0;
  }

  .custom-diffgreen {
    color: #52c66c;
  }


  /*
   * Mini-Navigation YAML vs. Git Diff
   */

  .nav-link {
    color: #888;
  }

  .active {
    color: #333;
  }

  .nav-link:hover {
    color: #000;
  }

  .scrollable {
    width: 100%;
    overflow-x: auto;
  }

  #diffcard {
    width: 100%;
  }

  #yamlcard {
    width: 100%;
  }

  #nav-tabContent {
    width: 95%;
  }

/* Progress bar */

  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }

/* Loading spinner */

  .spinner-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1500;
    cursor: pointer;
  }

  .spinner-border {
    border-radius: 50% !important;
    position: absolute;
    top: 50%;
    left: 50%;
  }
