[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "==2.1.*"
gitpython = "==2.1.*"
ruamel-yaml = "==0.15.*"
gunicorn = "==19.9.*"
pycryptodome = "==3.8.*"
selenium = "*"
coverage = "*"

[requires]
python_version = "3.7"
