html,body{height:100%;}

body {
    font-size: .875rem;
    -webkit-animation:fadein 1s; animation:fadein 1s
  }
  @-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
  @keyframes fadein { from {opacity:0} to {opacity:1} }

  .container-fluid {
    height: calc(100% - 71px);
  }

  .navbar-brand {
    font-family: 'Comfortaa', sans-serif;
  }

  .full-height{
    min-height:100%;
  }

  .search-row{
    margin-right:0px;
    margin-left:0px;
  }

  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    box-shadow: none;
    border-radius: 0;
  }

  input[type="text"]:focus,
  select.form-control:focus {
    box-shadow: none;
  }

  * {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  .swal-button:focus {
    outline: none;
    box-shadow: none;
  }

  .hide-border {
    border-style: hidden;
  }

  .search-results-list {
    position: fixed;
    z-index: 2;
    margin-top: 5px;
  }

  .search-results-item {
    background-color: #fff;
    padding: 10px;
  }

  .search-results-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }

  .search-results-item a {
    color: black;
    text-decoration: none;
  }

  .list-group-item {
    border-style: hidden;
  }

  .lgi-icon-close {
    opacity: 0;
  }

  .list-group-item:hover {
    background-color: #f8f9fa;
  }

  .list-group-item:hover .lgi-icon-close {
    opacity: 0.5;
  }

  #edit-yaml a:link, a:visited {
    color: rgb(100, 100, 100);
  }

  #output-log {
    font-size: 80%;
  }

  .dropdown-menu {
    border-style: hidden;
  }

  .swal-overlay--show-modal, .swal-modal {
    animation: none !important;
  }


  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .custom-green {
    color:rgb(107, 238, 118);
  }

  .custom-red {
    color:rgb(252, 84, 84);
  }

  /* PACE.js */

  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }


  #loadingtext{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: #007bff;
    transform: translate(-100px,-25px);
    -ms-transform: translate(-100px,-25px);
  }


/* Loading spinner */

  .spinner-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1500;
    cursor: pointer;
  }

  .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }

  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #444;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }