html,body{height:100%;}

body {
    font-size: .875rem;
  }

  .container-fluid {
    height:100%;
  }

  .full-height{
    min-height:100%;
  }

  * {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  .form-control:focus {
    border-color: #67a4ff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0);
  }

  .swal-button:focus {
    outline: none;
    box-shadow: none;
  }

  .search-results-list {
    position: fixed;
    z-index: 2;
    margin-top: 5px;
    -webkit-box-shadow: 6px 6px 32px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 6px 6px 32px 0px rgba(0,0,0,0.1);
    box-shadow: 6px 6px 32px 0px rgba(0,0,0,0.1);
  }

  .search-results-item {
    border: 1px solid #ddd;
    background-color: #fff;
    color: black;
    margin-top: -1px;
    padding: 10px;
    text-decoration: none;
  }

  .search-results-item:hover {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    cursor: pointer;
  }

  .search-results-item a {
    color: black;
    text-decoration: none;
  }

  .list-group-item:hover {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
  }

  .lgi-icon-close {
    opacity: 0;
  }

  .list-group-item:hover .lgi-icon-close {
    opacity: 0.5;
  }

  .yamlcol {
    -webkit-box-shadow: inset 9px 0px 13px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 9px 0px 13px 0px rgba(0,0,0,0.05);
    box-shadow: inset 9px 0px 13px 0px rgba(0,0,0,0.05);
  }


  /*
   * Content
   */

  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }


  /* PACE.js */

  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 200px;
    background: #fff;
    border: 1px solid #007bff;

    overflow: hidden;
  }

  .pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    max-width: 200px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #007bff;
  }

  .pace.pace-inactive {
    display: none;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    cursor: pointer;
  }

  #overlaytext{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: #007bff;
    transform: translate(-100px,-25px);
    -ms-transform: translate(-100px,-25px);
  }