<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SRX SRX YAMLr Login">
    <meta name="author" content="bhaeringer">

    <title>SRX SRX YAMLr - Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <!-- Google Font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    <!-- Custom CSS for this template -->
    <link rel="stylesheet" type="text/css" href="/static/srxapp/login.css">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post">
      <h1 class="brand h3 mb-3">SRX SRX YAMLr</h1><br>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary btn-block" type="submit">Login</button>
    </form>
  </body>
</html>